body {
  text-align: center;
  font-family: "Noto Sans KR";
}

div > p {
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 1px solid;
}

button {
  background-color: skyblue;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: cornflowerblue;
}
.done {
  text-decoration: line-through;
  color: gray;
}
